README.md
Dockerfile*
Gemfile
yarn.lock
env*

*.css
*.d.ts
*.html
*.ico
*.lock
*.log
*.pkg
*.png
*.sh
*.svg
*.ttf
*.txt
*.yaml
*.yml
*ignore
*woff2
*.xml

.dockerignore
.editorconfig
.env*
.gitattributes
.gitignore
.nvmrc
.prettierignore
.husky/
.strapi/
.yarn/

android/
build/
dist/
generated/
ios/
node_modules/
scripts/

.DS_Store
